# Groq API Configuration
GROQ_API_KEY=sk_xxxxxxxxxxxxxxxxxxxxx

# Cerebras API Configuration
CEREBRAS_API_KEY=sk_xxxxxxxxxxxxxxxxxxxxx

# OpenRouter API Configuration
OPENROUTER_API_KEY=sk_xxxxxxxxxxxxxxxxxxxxx

# Google API Configuration
GOOGLE_API_KEY=sk_xxxxxxxxxxxxxxxxxxxxx
